@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Square+Peg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: black;
  color: aqua;
}
*::selection {
  background-color: black;
  color: aqua;
}

.container-fluid {
  padding-bottom: 20px;
  background-image: url("./fondo3.jpg");
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.container-fluid .logoHarmony {
  border-radius: 80%;
  -webkit-border-radius: 800%;
  -moz-border-radius: 800%;
  -ms-border-radius: 800%;
  -o-border-radius: 800%;
  width: 60px;
  padding-left: 10px;
  padding-top: 15px;
}

.foto__h1 {
  width: 90%;
  height: 90%;
  padding: 15px 15px;
  grid-area: foto__h1;
  border-radius: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.foto__h1:hover {
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.foto__h2 {
  width: 90%;
  height: 90%;
  padding: 15px 15px;
  grid-area: foto__h2;
  border-radius: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.foto__h2:hover {
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.foto__h3 {
  width: 90%;
  height: 90%;
  padding: 15px 15px;
  grid-area: foto__h3;
  border-radius: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.foto__h3:hover {
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.foto__h4 {
  padding: 15px 15px;
  width: 90%;
  height: 90%;
  grid-area: foto__h4;
  border-radius: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.foto__h4:hover {
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.foto__h4 {
  width: 80%;
  height: 80%;
}

.foto__h3 {
  width: 80%;
  height: 80%;
}/*# sourceMappingURL=estilos.css.map */