@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital@1&family=Source+Sans+Pro:wght@300&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&family=Lora:ital@1&family=Source+Sans+Pro:wght@300&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*overflow-x: hidden*/;
  }


.logoHarmony {
    border-radius: 80%;
    -webkit-border-radius: 800%;
    -moz-border-radius: 800%;
    -ms-border-radius: 800%;
    -o-border-radius: 800%;
    width: 60px;
    padding-left: 10px;
    padding-top: 15px;

}


.container-fluid {
  padding-bottom: 20px;
  background-image: url("./fondo3.jpg");
  width: max-content;
}

/*
.menu{
   display: flex;
    list-style-type:none;
    gap: 100px;
    grid-gap: 100px;
    align-items:center ;
    height: 100%;
   
}

.menu__item a{
    color: rgb(14, 41, 1);
    text-decoration: none;
    font-family:'Abril Fatface', cursive;
  
}

.menu__item.active a{
    text-decoration: underline double;
    color: rgb(160, 160, 233);
}
*/


.primeraImagen {
  height: 85vh;
  background-image: url("./fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  width: auto;
  height: 400px;
  align-items: flex-end;
  justify-content: flex-end;
  grid-template-columns: 5fr;
  grid-template-rows: 3fr 1fr;
 }

.primeraImagen h2{
  text-align:center;
  color: rgb(4, 61, 70);
  font-family: 'Square Peg', cursive;
  font-size:80px;
  padding-top: 0;
  padding-left: 15px;
  padding-bottom: 30px;
    
}
.primeraImagen p{
  font-family: 'Source Sans Pro', sans-serif;
  color:black;
  background-color: rgba(103, 248, 139, 0.150);
  padding-bottom: 5px;
  padding-top: 5px;
  padding-inline: 20px;
  text-align:center
}

.imagendinamicas {
  padding: 30px;
  /*display: flex;
  gap: 30px;*/
  display: grid;
 
}

.imagendinamica {

  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: 
  "foto__h1 foto__h2"
  "foto__h3 foto__h4"
  ;
  align-items: flex-end;
  justify-content: flex-end;
  grid-auto-rows: max-content;
  grid-row-gap: 20px;
  grid-column-gap:25px ;
  justify-items: stretch;
  align-items: center;

}
  
  

.foto__h1{
  width: 90%;
  padding:15px 15px ;
  grid-area: foto__h1;
  border-radius: 30px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.foto__h1:hover{
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}
.foto__h2{
  width: 90%;
  padding: 15px 15px;
  grid-area: foto__h2;
  border-radius: 30px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.foto__h2:hover{
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.foto__h3{
  width: 90%;
  padding:15px 15px ;
  grid-area: foto__h3;
  border-radius: 30px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.foto__h3:hover{
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.foto__h4{
  padding:15px 15px ;
  width: 90%;
  grid-area: foto__h4;
  border-radius: 30px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.foto__h4:hover{
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.titulo_mapa{
  text-align:center;
  color: rgb(4, 61, 70);
  font-family: 'Square Peg', cursive;
  padding-top: 0;
  padding-inline: 5px;
  background-color:rgba(103, 248, 139, 0.200) ;
  font-size: xx-large;
}

.tarjeta_mapas{
  padding: 60px;
  display: flex;
  gap: 30px;

  
}

.tarjeta_mapa{
  background-image: url(./fondo2.jpg);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.tarjeta_mapa:hover{
  transform: scale(.9) translateY(-30px);
  -webkit-transform: scale(.9) translateY(-30px);
  -moz-transform: scale(.9) translateY(-30px);
  -ms-transform: scale(.9) translateY(-30px);
  -o-transform: scale(.9) translateY(-30px);
}

.informacion{
  padding: 0 20px 20px 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: smaller;
}

.tarjetita__imagen {
  max-width: 90%;
  transition: .5seg;
  -webkit-transition: .5seg;
  -moz-transition: .5seg;
  -ms-transition: .5seg;
  -o-transition: .5seg;
}


.img_mapa{
  width: 100%;
  align-items: center;
}


.redes {
  background-color: #08632b48;
  padding-block: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

/*Estilo Exclusivo de page sobre_nosotros*/
.video{
  width: 70%; 
  margin: 0 auto;
  display: block;
  padding-top: 15px;
  padding-bottom: 20px;
}

.fundadores{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 200px;
  background-position: center center;
  background-color: rgba(243, 237, 229, 0.79);
  background-size:cover ;
  background-repeat:no-repeat ;
  
}

.fundadores__titulo{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  padding-top:20px ;
  padding-bottom: 15px;
  color: rgb(8, 93, 17);
  text-decoration: underline;
  font-weight: 500;


}

.fundadores__descripcion{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
  padding-bottom: 25px;

}


/*Estilo Exclusivo de page locaciones*/

.clinicas_img{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-inline: 50px;
  display: flex;
  justify-content: center;
  background-color: #34f06c21;
  border-radius: 30px;
  overflow: hidden;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;

}

.clinica__img{
  border-radius: 10%;
  width: 100%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}


.clinica__titulo{
  font-size: xx-large;
  color: rgb(7, 90, 19);
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding-bottom: 25px;
  

}
.clinicas__imgdes{
  padding-top: 25px;
  padding-bottom: 25px;
  color: rgb(4, 88, 60);
  font-size: medium;
  text-align: center;

}
.info_clinicas{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

}
.info__clinicaslista{
  font-size: small;
  font-family: 'Courier New', Courier, monospace;

}
.info__clinicastitulo{
  font-size: xx-large;
  color: rgb(7, 90, 19);
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding-bottom: 25px;
  padding-top:30px ;

}

/*Estilo Exclusivo de page servicios*/

.fotos_tratamiento{
  padding: 100px;
  display: grid;
  
  }

.tratamiento_img{
  
  /* overflow: hidden;
  display: flex;
  gap: 15px;*/
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: 
  "tratamiento__img1 tratamiento__img2"
  "tratamiento__img3 tratamiento__img4"
  ;
  align-items: flex-end;
  justify-content: flex-end;
  grid-auto-rows: max-content;
  grid-row-gap: 30px;
  grid-column-gap:25px ;
  justify-items: auto;
  align-items: center;
  width:auto; 

 
}

.tratamiento__img1{
  width: 80%;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
  grid-area: tratamiento__img1;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.tratamiento__img1:hover{
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;



}
.tratamiento__img2{
  width: 80%;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
  grid-area: tratamiento__img2;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.tratamiento__img2:hover{
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}


.tratamiento__img3{
  width: 80%;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
  grid-area: tratamiento__img3;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.tratamiento__img3:hover{
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.tratamiento__img4{
  width: 80%;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
  grid-area: tratamiento__img4;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.tratamiento__img4:hover{
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}


.lista__tipostratamientos{
  padding-top: 20px;
  padding-bottom: 20px;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  
  }

.lista__titulotratamientos{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
  padding-top:20px ;
  padding-bottom: 15px;
  text-decoration: underline;
  background:url("fondo.jpg");
  text-decoration: none;


}

/*Estilo Exclusivo de page reservas. Se seguirá mejorando el formulario*/
.reservas_titulo{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background:url("fondo.jpg");
  padding-top:20px ;
  padding-bottom: 15px;
  text-decoration: underline;
  font-size: large;

}

.formulario{
  background-color: aliceblue;
  padding-top:30px ;
  padding-bottom: 35px;

}



@media screen and (max-width: 480px){
 
.imagendinamica {
  background-color: #87f3a84d;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,1fr);
  grid-template-areas: 
  "foto__h1"
  "foto__h2"
  "foto__h3"
  "foto__h4"
  ;
  align-items: flex-end;
  justify-content: flex-end;
  grid-auto-rows: max-content;
  grid-row-gap: 20px;
  grid-column-gap:25px ;
  justify-items: stretch;
  align-items: center;
}
.tratamiento_img{
  background-color: #87f3a84d;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "tratamiento__img1"
  "tratamiento__img2"
  "tratamiento__img3"
  "tratamiento__img4"
  ;
  align-items: flex-end;
  justify-content: flex-end;
  grid-auto-rows: max-content;
  grid-row-gap: 20px;
  grid-column-gap:25px ;
  justify-items: stretch;
  align-items: center;

 
}
}

@media screen and (max-width: 768px){
.imagendinamica {
  background-color: #87f3a84d;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,1fr);
  grid-template-areas: 
  "foto__h1"
  "foto__h2"
  "foto__h3"
  "foto__h4"
  ;
  align-items: flex-end;
  justify-content: flex-end;
  grid-auto-rows: max-content;
  grid-row-gap: 20px;
  grid-column-gap:25px ;
  justify-items: stretch;
  align-items: center;
}
.tratamiento_img{
  background-color: #87f3a84d;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(4, 2fr);
  grid-template-areas: 
  "tratamiento__img1"
  "tratamiento__img2"
  "tratamiento__img3"
  "tratamiento__img4"
  ;
  align-items: flex-end;
  justify-content: flex-end;
  grid-auto-rows: max-content;
  grid-row-gap: 20px;
  grid-column-gap:25px ;
  justify-items: stretch;
  align-items: center;

 
}
}