.container-fluid {
    padding-bottom: 20px;
    background-image: url("./fondo3.jpg");
    width: max-content;

    .logoHarmony {
        border-radius: 80%;
        -webkit-border-radius: 800%;
        -moz-border-radius: 800%;
        -ms-border-radius: 800%;
        -o-border-radius: 800%;
        width: 60px;
        padding-left: 10px;
        padding-top: 15px;
    
    
     
    }
      }   

