@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Square+Peg&display=swap');

$fontSquareCursive:'Square Peg', cursive;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
$fontDancing:'Dancing Script', cursive;

$mainColor: aqua;
